---
http_interactions:
- request:
    method: post
    uri: https://api.a3rt.recruit-tech.co.jp/talk/v1/smalltalk
    body:
      encoding: UTF-8
      string: apikey=valid_key&query=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - bf2d3407c4c7dc03c754c83066af09ea
    body:
      encoding: UTF-8
      string: '{"status": 0, "message": "ok", "results": [{"perplexity": 1.9292246523842849,
        "reply": "\u305d\u3046\u3067\u3059\u306d"}]}'
  recorded_at: Tue, 25 Aug 2020 00:29:04 GMT
recorded_with: VCR 6.0.0
